* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    background-color: #fff5d7;
}

h1 {
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;

    text-align: center;
    color: #063970; 

    background-color: #ffafc7;

    padding: 40px;
    border-bottom: 6px dotted #063970;
}

h2 {
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    color: #154c79;

    margin: 10px 20px 10px 20px;
    
}

h3 {
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    color: #1e81b0; 

    margin: 10px 20px 10px 40px;
}

p, ul {
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    color: #063970;

    background-color: #ffaaab;
    padding: 20px 10px 20px 10px;
    margin: 20px 30px 20px 30px;

    border: 6px outset #ff5e6c
}

li {
    margin: 30px 40px 30px 40px; 
    background-color: #ffaaab;
    font-size: 18px;
}