* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: #F9E9EC;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: fit-content;
    padding: 20px;
}

.logo {
    display: flex;
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    
    text-align: center;
    color: #063970; 
}

.about {
    display: flex;
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    
    text-align: center;
    color: #063970; 
}


.mail:hover {
    filter: brightness(130%);
}

.github:hover {
    filter: brightness(130%);
}

.linkedin:hover {
    filter: brightness(130%);
}


.main-content-container {
    display: flex;
    background-color: #d6e9fe;
    /* Top/bottom padding */
    padding: 40px;
    /* Justify all logos within centre of flexbox */
    justify-content: space-evenly;
}

.main-content-1 {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: #FCE0B1;

    flex-direction: column;
    flex-wrap: wrap;

    border-radius: 25px;
}

.main-content-2 {
    display:flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}

.harvard-cs50 {
    background-color: rgb(247, 210, 135);
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin: 10px;
}

.text-1 {
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    
    text-align: center;
    padding: 20px;
    color: #063970;
}

.decision-neuro {
    background-color: #c9d7c1;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin: 10px;

    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    
    text-align: center;
    color: #063970;
}

.text-2 {
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    
    text-align: center;
    padding: 20px;
    color: #063970;
}

.flappy-bird {
    background-color: #e1ccde;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin: 10px;

    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    
    text-align: center;
    color: #063970;
}

.text-3 {
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    
    text-align: center;
    padding: 20px;
    color: #063970;
}

.finstagram {
    background-color: #b3e8d4;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin: 10px;

    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    
    text-align: center;
    color: #063970;
}

.text-4 {
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    
    text-align: center;
    padding: 20px;
    color: #063970;
}
